DW_DATAJOBS_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=localhost;Database=DW_DataJobs;Trusted_Connection=yes;TrustServerCertificate=yes;
DW_DATAJOBS_SQLALCHEMY_URL=
TALENTBRIDGE_EMBEDDING_BACKEND=tfidf
TALENTBRIDGE_SENTENCE_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Optional role-specific Power BI report links.
TALENTBRIDGE_POWERBI_CANDIDATE_URL=https://app.powerbi.com/groups/me/reports/0351ac02-aea2-4c57-894f-c14fa0354b39/d8f3f6653079105c119d?experience=power-bi
TALENTBRIDGE_POWERBI_RECRUITER_URL=https://app.powerbi.com/groups/me/reports/d66d0ba4-cfae-43bf-93da-6489edb90d02/45df99d988b8ceb032d0?experience=power-bi
TALENTBRIDGE_POWERBI_ADMIN_URL=https://app.powerbi.com/groups/me/reports/fc95c447-eec9-4c8d-99e8-342258812471/e5c3ab2586a5346ec12a?experience=power-bi
